/* RESET */

a, ol, ul {
    text-decoration: none;
    list-style-type: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
    
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}

/* GRID */ 

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
  
  .container:after, .container:before {
      content: " ";
      display: table;
  }
  
  .container:after {
      clear: both;
  }
  
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .grid-1 	{width: 40px;}
  .grid-2 	{width: 100px;}
  .grid-3 	{width: 160px;}
  .grid-4 	{width: 220px;}
  .grid-5 	{width: 280px;}
  .grid-6 	{width: 340px;}
  .grid-7 	{width: 400px;}
  .grid-8 	{width: 460px;}
  .grid-9 	{width: 520px;}
  .grid-10 	{width: 580px;}
  .grid-11 	{width: 640px;}
  .grid-12 	{width: 700px;}
  .grid-13 	{width: 760px;}
  .grid-14 	{width: 820px;}
  .grid-15 	{width: 880px;}
  .grid-16 	{width: 940px;}
  .grid-1-3	{width: 300px;}


  /*  CONTEUDO SITE */ 
  body{
      font-family: Arial, Helvetica, sans-serif;
  }

  .header{
      background-color: #073040;
      width: 100%;
      padding: 5px 0;
  }
  .header_menu {
      
      text-align: right;
  }

  .header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;

  }

  .header ul li a {
    color: #F2CC85;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;

  }

  .header ul li a:hover{
    color: #F2B66D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;

  }

  .capa {
    width: 100%;
    height: 380px;
    background: url("https://cassioalvees.github.io/img/bg.jpg") no-repeat;
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    padding-top: 150px;
    

}

.capa h1 {
    font-size: 48px;
    color: #F2CC85;
    font-weight: bold;
    text-transform: uppercase;

}

.galeria {
    width: 100%;
    background: #F2CC85;
    padding: 40px 0;
    
   
}

.galeria_lista li{
    margin-top: 20px;
    
}

.footer {
    background-color: #073040;
    width: 100%;
    height: 120px;
    color: #F2CC85;

}

.footer h1 {
    font-size: 20px;
    padding-top: 20px;
    
}
